/*
### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/



:root {
  --white: #fff;
  --cyan: hsl(179, 62%, 42%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --h6: hsl(204, 43%, 82%);
  --blue: hsl(218, 22%, 67%);
  --light: hsl(179, 62%, 50%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--white);
  font-family: 'Karla';
  background: black;
  margin: 0.5rem;
 
}

.white {
  width: 100%;
  background: white;
  padding: 2.25rem 2.5rem;
  padding-bottom: 5rem;
}

.white h1 {
  color: var(--cyan);
  padding: 2.5rem 0;
  font-size: 2rem;
}

.white h3 {
  color: var(--yellow);
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.white p {
  color: var(--blue);
  line-height: 1.2;
  font-size: 10.5px;
}

.dark {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dark .left {
  width: 100%;
  background: var(--light);
  padding: 2.5rem;
}

.dark .right {
  width: 100%;
  background: var(--cyan);
  padding: 2.5rem;
}

.dark h2 {
  color: var(--gray);
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.dark .right p {
  color: var(--gray);
}

.dark .right span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray);
}

.dark .right h6 {
  color: var(--h6);
  margin-top: -1.75rem;
  margin-left: 4.05rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.dark .right p {
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--gray);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.dark .right button {
  margin-top: 1rem;
  padding: 1rem 7.5rem;
  border-radius: 7.5px;
  outline: none;
  border: none;
  color: var(--white);
  background: var(--yellow);
  font-weight: 700;
  font-size: 1.15rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
  transition: all 0.5s ease-in-out;
}

.dark .right button:hover {
  box-shadow: 0px 5px rgba(0, 0, 0, 0.65);
}

.dark .left h2 {
  padding-top: -1rem;
  margin-top: -0.3rem;
}

.dark .left p {
  line-height: 1.35;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray);
  margin-top: -0.25rem;
}

@media screen and (max-width: 1440px) {
  .dark {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .white {
    width: 100%;
  }

  .white h1 {
    color: var(--cyan);
    padding: 2.5rem 0;
    padding-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .white h3 {
    color: var(--yellow);
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .white p {
    color: var(--blue);
    line-height: 1.2;
  }


  .dark {
    grid-template-columns: repeat(1, 1fr);
  }

  .dark .left {
    width: 100%;
  }

  .dark .right {
    width: 100%;
  }

  .dark .right button {
    padding: 1rem 6rem;
  }

  .dark .right p {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}